/* ===== Scrollbar CSS ===== */
body::-webkit-scrollbar {
    display: none;
}
/* ===== Scrollbar CSS End ===== */



body{
    background-color: #FEFEFA;
    min-height: 50vh;
    font-size: clamp(0.5rem, 1.5vw, 1rem);
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    color: #0C0908;
}
header{
    position: sticky;
    z-index: 1000;
    top: 0;
    width: 100%;
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    padding-left: 7vw;
    padding-right: 12vw;
    padding-bottom: 1rem;
}


section.about-container{
    margin-top: 7rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}
section div.about{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FBFBFB;
    width: 85%;
    min-height: 65svh;
}
section div.about-images{
    display: flex;
    align-items: center;
    column-gap: 1.3rem;
    margin: 0 3rem;
    height: 100%;
}
section div.about-images img{
    object-fit: cover;
    max-width: 20rem;
    transition: all 0.3s ease;
}
section div.about-images img:hover{
    transform: scale(1.05);
}
section div.about-two-images{
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}
section div.about-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
section div.about-info i:nth-of-type(1){
    color: #BDBDBD;
    font-size: 5em;
    letter-spacing: 5px;
    font-weight: 300;
}
section div.about-info i:nth-of-type(2){
    width: 25em;
    color: #0C0908;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 2px;
    line-height: 1.5em;
}
section div.about-info p{
    cursor: pointer;
    color: #0C0908;
    text-transform: uppercase;
    font-size: 1.2em;
    letter-spacing: 0.3em;
    background-color: white;
    padding: 1em;
    width: max-content;
}


section.our-focus-container{
    margin-top: 7rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}
section div.our-focus{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 75%;
    min-height: 25svh;
    font-family: 'Roboto', sans-serif;
}
section div.head{
    width: 100%;
    padding-bottom: 2em;
}
section div.head i{
    color: #BDBDBD;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 300;
}
section div.missions{
    display: flex;
    column-gap: 3em;
    width: 100%;
}
section div.first-mission{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    width: 30rem;
}
section div.first-mission i:nth-of-type(1){
    font-size: 10em;
    font-weight: 900;
    color: #BDBDBD;
}
section div.first-mission i:nth-of-type(2){
    font-size: 1.5em;
    font-weight: 300;
    color: #0C0908;
    letter-spacing: 2px;
    line-height: 1.1em;
}
section div.second-mission{
    display: flex;
    justify-content: row;
    align-items: center;
    column-gap: 1rem;
    width: 45rem;
}
section div.second-mission i:nth-of-type(1){
    font-size: 10em;
    font-weight: 900;
    color: #BDBDBD;
}
section div.second-mission i:nth-of-type(2){
    font-size: 1.5em;
    font-weight: 300;
    color: #0C0908;
    letter-spacing: 2px;
    line-height: 1.1em;
}


section.our-projects-container{
    margin-top: 7rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}
section div.our-projects{
    display: flex;
    flex-direction: column;
    width: 75%;
    min-height: 25svh;
    font-family: 'Roboto', sans-serif;
}
section div.our-project-header{
    display: flex;
    width: 100%;
    padding-bottom: 4em;
}
section div.our-project-header i{
    color: #BDBDBD;
    font-size: 3em;
    letter-spacing: 3px;
    font-weight: 300;
}
section div.our-project-images{
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    width: 100%;
}
section div.our-project-images img{
    filter: brightness(0.975);
    object-fit: cover;
    transition: all 0.3s ease;
}
section div.our-project-images img:hover{
    transform: scale(1.05);
}
section div.top-images{
    display: flex;
    justify-content: space-between;
}
section div.top-images img{
    max-width: 49%;
}
section div.bottom-images{
    display: flex;
    justify-content: space-between;
}
section div.bottom-images img:nth-of-type(1){
    max-width: 20%;
}
section div.bottom-images img:nth-of-type(2){
    max-width: 45%;
}
section div.bottom-images img:nth-of-type(3){
    max-width: 30%;
}

section.contact-container{
    margin-top: 7rem;
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}
section div.contact-us{
    display: flex;
    height: 100%;
    flex-direction: column;
    width: 75%;
    min-height: 25svh;
    font-family: 'Roboto', sans-serif;
}
section div.contact-header{
    display: flex;
    width: 100%;
    padding-bottom: 3em;
}
section div.contact-header i{
    color: #BDBDBD;
    font-size: 4em;
    letter-spacing: 3px;
    font-weight: 300;
}
section div.contact-info{
    display: flex;
    row-gap: 1rem;
    width: 100%;
}
section div.contact-form{
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    width: 45%;
}
section div.inputs input{
    width: 90%;
    height: 3rem;
    border: none;
    margin-bottom: 1em;
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 1.5rem;
}

section div.inputs textarea{
    width: 90%;
    height: 10rem;
    border: none;
    margin-bottom: 1em;
    background-color: #F3F3F3;
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
    font-weight: 300;
    letter-spacing: 1px;
    padding-left: 1.5rem;
    padding-top: 1em;
    resize: none;
}
section div.contact-form button{
    width: 30%;
    height: 4rem;
    border: none;
    margin-bottom: 1em;
    background-color: #0C0908;
    color: #FEFEFA;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.2s ease;
}
section div.contact-form button:hover{
    background-color: #FEFEFA;
    color: #0C0908;
    border: #0C0908 solid 1px;
    transform: scale(1.05);
}
section div.contact-image{
    display: flex;
    flex-direction: column;
    column-gap: 1rem;
    width: 55%;
}
section div.contact-image img{
    object-fit: cover;
}

footer{
    display: flex;
    flex-direction: column;
    background-color: #2C2C2C;
    width: 100%;
    height: 65svh;
}
footer li{
    color: #FEFEFA;
    cursor: pointer;
}
footer div.footer-head{
    display: flex;
    height: 85%;
}

footer div.footer-image{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5em;
    height: 100%;
    width: 30%;
}

footer div.footer-logo img{
    width: 4rem;
}
footer div.footer-logo-text{
    padding-top: 1rem;
}
footer div.footer-logo-text i{
    font-size: 1.3em;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 400;
    color: #FEFEFA;
}

footer div.footer-info{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    font-family: 'Roboto', sans-serif;
    row-gap: 3rem;
    color: #FEFEFA;
}
footer div.footer-info i{
    font-weight: 500;
}
footer div.footer-info ul{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}

footer div.footer-contacts{
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    font-family: 'Roboto', sans-serif;
    row-gap: 3rem;
    color: #FEFEFA;
}
footer div.footer-contacts i{
    font-weight: 500;
}
footer div.footer-contacts ul{
    display: flex;
    flex-direction: column;
    row-gap: 2em;
}
footer div.footer-contacts ul li{
    display: flex;
    column-gap: 1em;
}

footer div.footer-socials{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding-top: 5em;
    font-family: 'Roboto', sans-serif;
    row-gap: 3rem;
    color: #FEFEFA;
}
footer div.footer-socials i{
    font-weight: 500;
}
footer div.footer-socials ul{
    display: flex;
    column-gap: 2em;
    font-size: 1.3em;
}

footer div.footer-copyright{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #4C4C4B;
}


header.scrolled {
    background-color: #FEFEFA;
    padding-top: 1em;
    transition: all 0.2s linear;
}
nav.desktop-navbar{
    padding-right: 15vw;
    display: flex;
    justify-content: space-evenly;
    align-self: center;
}
nav.desktop-navbar ul{
    display: flex;
    column-gap: 5rem;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
nav.desktop-navbar ul a:hover, a:active, a:focus{
    border-top: #0C0908 solid 1.5px;
    border-bottom: #0C0908 solid 1.5px;
}
nav.desktop-navbar.scrolled{
    border-bottom: #0C0908 solid 1.5px;
    transition: border-bottom 0.5s ease;
}
main{
    display: flex;
    justify-content: space-evenly;
    column-gap: 15rem;
    padding-bottom: 2rem;
    margin-left: 25px;
    margin-right: 25px;
}
.burger{
    display: none;
    z-index: 3;
}
.header-logo{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.header-image img{
    width: 3rem;
    filter: invert(1);
}
.header-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 0.25rem;
}
.header-text i{
    font-size: 1.2em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Saira Extra Condensed', sans-serif;
    font-weight: 400;
    color: #0C0908;
}
.project-name{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    font-size: 6em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #0C0908;
    margin-bottom: 5rem; 
    width: 50rem;
} 
.project-name i:nth-of-type(1){
    font-size: 2em;
    color: #BDBDBD;
    font-weight: 200;
}
.room-preview img{
    max-width: 30rem;
    object-fit: cover;
}








nav.mobile-navbar{
    display: none;
}
.background-hide{
    display: none;
}
.background-hide.show{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    display: block;
    width: 100%;
    height: 100vh;
    background-color: #0C0908;
    filter: opacity(0.8);
}
.mobile-navbar.show {
    top: 0;
    z-index: 2;
    display: flex;
    height: 100%;
    width: 15em;
    position: fixed;
    border-right: 2px solid #0C0908;
    background-color: #FEFEFA;
}
.burger.show{
    display: none;
}
.mobile-navbar ul{
    display: flex;
    padding-left: 2em;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    text-align: center;
}
.mobile-navbar ul li {
    opacity: 0;
    animation: dominoEffect 0.5s ease forwards;
}

.mobile-navbar ul li:nth-child(1) {
    animation-delay: 0.16s;
}

.mobile-navbar ul li:nth-child(2) {
    animation-delay: 0.32s;
}

.mobile-navbar ul li:nth-child(3) {
    animation-delay: 0.48s;
}
.mobile-navbar ul li:nth-child(4) {
    animation-delay: 0.64s;
}
.mobile-navbar ul li:nth-child(5) {
    animation-delay: 0.80s;
}

main.blur{
    filter: blur(5.5px);
    z-index: 1;
}
main{
    transition: filter 0.5s ease;
}
@media (max-width: 1565px){
    .project-name{
        font-size: 4em;
    }
    .room-preview img{
        max-width: 25rem;
    }
}
@media (max-width: 1238px){
    .project-name{
        font-size: 3.5em;
    }
    .room-preview img{
        max-width: 20rem;
    }
    nav.desktop-navbar ul{
        font-size: 0.8em;
    }
    .header-image img{
        width: 2rem;
    }
    .header-text i{
        font-size: 0.9em;
    }
}
@media (max-width: 1024px){
    main{
        flex-direction: column;
        column-gap: 0;
        margin-left: 10px;
        margin-right: 10px;
    }
    header{
        position: sticky;
        margin-top: 1.5rem;
        display: block;
        justify-content: none;
        margin-top: 1.5rem;
        padding-left: 0;
        padding-right: 0;
        padding-bottom: 1rem;
    }
    .header-logo, nav.desktop-navbar{
        display: none;
    }
    .burger{
        display: flex;
        z-index: 3;
        justify-content: flex-end;
        margin-right: 1rem;
    }    
    .burger i{
        display: flex;
        justify-content: center;
        font-size: 2.5em;
        color: #0C0908;
        cursor: pointer;
    }

    .mobile-navbar a{
        color: #0C0908;
        background-color: t;
    }
    .project-name{
        display: flex;
        width: 100%;
        text-align: center;
    }
    .room-preview{
        display: flex;
        justify-content: center;
        align-self: center;
        pad: 50px;
    }
    .room-preview img{
        max-width: 100%;
        max-height: 70svh;
    }
}
@keyframes dominoEffect {
    0% {
        opacity: 0;
        filter: blur(5px);
        transform: translateX(20px);
    }
    100% {
        opacity: 1;
        filter: none;
        transform: translateX(0);
    }
}